.toy-rating {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #7694ff;
  color: #fff;
  padding: 0.2rem 1rem 0.1rem;
  font-size: 1.1rem;
  line-height: 30px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
